@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* #region Journey Placeholder */
  .journey-section {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .journey-section--hidden {
    pointer-events: none;
  }

  .journey-section--visible {
    pointer-events: auto;
  }

  .journey-placeholder {
    min-height: 200vh;
  }
  /* #endregion Journey Placeholder */
}
